# Crea un programa para calcular la distancia entre planetas

In [36]:
new_template = """
Datos de Gravedad sobre: {nombre}
---------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
---------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [37]:
answer = 30 + 12
print(answer)

42

In [38]:
difference = 30 - 12
print(difference)

18

In [40]:
product = 30 * 12
print(product)

360

In [41]:
quotient = 30 / 12
print(quotient)

2.5

In [44]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

17

In [45]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [46]:
demo_int = int('215')
print(demo_int)

215

In [47]:
demo_float = float('215.3')
print(demo_float)

215.3

In [48]:
print(abs(39 - 16))
print(abs(16-39))

23
23

In [51]:
print(round(14.5))

14

In [55]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

In [11]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Urans', 'Neptune']

print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The Third planet is', planets[2])

planets[3] = 'Red planet'
print('Marte is also known as', planets [3])

The first planet is Mercury
The second planet is Venus
The Third planet is Earth
Marte is also known as Red planet

In [12]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [14]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [15]:
planets.pop() # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planetes in the solar system.')

No, there are definitely 8 planetes in the solar system.

In [16]:
print("The first planet is", planets[0])

The first planet is Mercury

In [17]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Urans

In [19]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [1]:
gravity_on_earth = 1.0
gravity_on_the_monn = 0.166

gravity_on_planets = [0.378, 0.097, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 # in kilograms, on Ehart

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0])

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7

In [4]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solr system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solr system is 1227.05 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [5]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [7]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [8]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Calisto']

regular_satelite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of jupiter are', regular_satelite_moons)

The regular satellite moons of jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Calisto']

In [11]:
regular_satelite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satelite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Calisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [12]:
regular_satelite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satelite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Calisto', 'Amalthea', 'Adrastea']

In [15]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Saturn']
planets.append ('Pluto')

In [1]:
print("A random planet from the Solar System is," planets [7])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1553898894.py, line 1)

In [19]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Saturn']
print('There are', len(planets), 'planets')

There are 9 planets

In [22]:
planets.pop() # Goodbye Pluto
Number_of_Planets = len(planets)

In [23]:
planets.append('Pluto')
print(planets[-1], 'is the last planet')

Pluto is the last planet

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Saturn']

user_planet = input('please enter the name of the planet (with a capital letter to start)')
planet_index = planets.index(user_planet)
print('Here are the planets closer than ' + user_planet)
print(planets[0:planet_index])

Here are the planets closer than Mars
['Mercury', 'Venus', 'Earth']

In [28]:
print('Here are the planets further than ' + user_planet)
print(planets[planet_index + 1:])

Here are the planets further than Mars
['Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Saturn']

Ejercicio 1

In [2]:
# Crear variables para almacenar las dos distancias
#¡Asegúrte de quitar las comas!

first_planet = 149597870
second_planet = 778547200

In [3]:
# Calcula la distancia entre planetas

distance_km = second_planet - first_planet
print(distance_km)

628949330

In [4]:
distance_mi = distance_km * 0.621
print(distance_mi)

390577533.93

Ejercicio 2

In [7]:
# Almacenar las entradas del usuario

first_planet = input('Introduzca la distancia del sol para el primer planeta en Km')
second_planet = input('Introduzca la distancia desde el sol para el segundo planeta en km')

In [8]:
# Convierte las cadenas de ambos planetas a más números enteros

first_planet = int(first_planet)
second_planet = int(second_planet)

In [10]:
# Realizar el cálculo y determinar el valor absoluto
distance_km = second_planet - first_planet
print(distance_km)

#Convertir de Km a Millas

distance_mi = distance_km * 0.621
print(abs(distance_mi))

628949330
390577533.93